#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 0px;
}

.navbar-brand {
  font-size: 2.5vw;
}

.dropdown-menu {
  top: 100% !important; /* Position the dropdown below the button */
  left: auto !important; /* Align to the button's left edge */
  right: 0; /* Adjust for end-alignment */
}

img {
  width: 400px;
  height: 800px;
  padding-bottom: 30px;
  padding: 5%;
  margin-top: 10%;
}

.contact-info {
  border: 1px black solid;
  margin: 10px;
  margin-top: 100px;
  padding: 25px;
}

.rates-info {
  border: 1px black solid;
  margin: 10px;
  margin-top: 100px;
  padding: 25px;
}

.about-me {
  border: 1px black solid;
  margin: 10px;
  padding: 20px;
  margin-top: 100px;
}

.card-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px black solid;
  margin: 10px;
  padding: 20px;
  margin-top: 100px;
}

.card {
  margin: 10px;
}
