#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 0px;
}

.navbar-brand {
  font-size: 50px;
}

.dropdown-menu {
  top: 100% !important; /* Position the dropdown below the button */
  left: auto !important; /* Align to the button's left edge */
  right: 0; /* Adjust for end-alignment */
}

.carousel {
  justify-self: center;
  width: 850px;
  margin-top: 100px;
}

img {
  width: 850px;
  height: 530px;
  padding-bottom: 30px;
}
